.sidenav-container {
  height: 100vh;
}

mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.main-content {
  padding: 1rem;
}

a.active {
  background-color: rgba(0, 0, 0, 0.1); // atau sesuai selera
  font-weight: bold;
}
